<ion-header>
  <ion-toolbar>
    <p class="center">Dia11
      <button ion-button icon-only clear item-right (click)="irpagina('/dia10')">
        <ion-icon name='caret-back-outline' icon-start></ion-icon></button> 
      <button ion-button icon-only clear item-right (click)="irpagina('/dia12')">
        <ion-icon name='caret-forward-outline' icon-start></ion-icon></button>
    </p>
    
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card>
    <img src="assets/img/11.jpg"/>
    <div class="card-title">11-Enero-2021</div>
    <div class="card-subtitle">Lunes <br>Comprar a granel. </div>
    <div class="card-subtitle"> </div>
  </ion-card>

  <ion-slides pager>
    <ion-slide>
      <img src="assets/img/granel.png" class="slide-image"/>
      <h2 class="slide-title">Comprar a granel.</h2>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/mercado.png" class="slide-image"/>
      <h2 class="slide-title">1.Buscar lugares donde se venda a granel, por ejemplo, los mercados.</h2>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/recipiente.png" class="slide-image"/>
      <h2 class="slide-title">2.	Llevar envases desde casa.</h2>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/carrito.png" class="slide-image"/>
      <h2 class="slide-title">3.Pedir que te coloquen la mercancía en los envases.</h2>
    </ion-slide>

  </ion-slides>
     

  <ion-button color="secondary" (click)="showToast()"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
</ion-content>