<ion-header>
  <ion-toolbar>
    <p class="center">Dia12
      <button ion-button icon-only clear item-right (click)="irpagina('/dia11')">
        <ion-icon name='caret-back-outline' icon-start></ion-icon></button> 
      <button ion-button icon-only clear item-right (click)="irpagina('/dia13')">
        <ion-icon name='caret-forward-outline' icon-start></ion-icon></button>
    </p>
    
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card>
    <img src="assets/img/12.jpg"/>
    <div class="card-title">12-Enero-2021</div>
    <div class="card-subtitle">Martes <br>Elaborar bolsas de papel. </div>
    <div class="card-subtitle"> </div>
  </ion-card>

  <ion-slides pager>
    <ion-slide>
      <img src="assets/img/bolsapapel.png" class="slide-image"/>
      <h2 class="slide-title">Elaborar bolsas de papel..</h2>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/periodico.png" class="slide-image"/>
      <h2 class="slide-title">1.	Recolectar periódico.</h2>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/bolsapapel.png" class="slide-image"/>
      <h2 class="slide-title">2.	Elaborar la bolsa.</h2>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/reciclaje2.png" class="slide-image"/>
      <h2 class="slide-title">3.	Colocarlas en tu bote de basura.</h2>
    </ion-slide>

  </ion-slides>
     

  <ion-button color="secondary" (click)="showToast()"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
</ion-content>