<ion-header>
  <ion-toolbar>
    <p class="center">Dia5
    <button ion-button icon-only clear item-right (click)="irpagina('/dia4')">
      <ion-icon name='caret-back-outline' icon-start></ion-icon></button> 
    <button ion-button icon-only clear item-right (click)="irpagina('/dia6')">
      <ion-icon name='caret-forward-outline' icon-start></ion-icon></button>
    </p>
    
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card>
    <img src="assets/img/d4.jpg"/>
    <div class="card-title">05-Enero-2021</div>
    <div class="card-subtitle">Martes <br>Cambiar cepillos de dientes de plástico por cepillos de bambú</div>
    <div class="card-subtitle"> </div>
  </ion-card>

  <ion-slides pager>
    <ion-slide>
      <img src="assets/img/cepillo-de-dientes.png" class="slide-image"/>
      <h2 class="slide-title">cepillos de bambú!</h2>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/bambu.png" class="slide-image"/>
      <h2 class="slide-title">1-	Adquiere un cepillo de bambú.</h2>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/mcepillado-de-dientes.png" class="slide-image"/>
      <h2 class="slide-title">2-	Desecha el cepillo convencional de plástico </h2>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/programar.png" class="slide-image"/>
      <h2 class="slide-title">3-	Al igual que los convencionales debe cambiarse cada tres meses. </h2>
    </ion-slide>
    
  </ion-slides>

  <ion-button color="secondary" (click)="showToast()"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
</ion-content>


