<ion-header>
  <ion-toolbar>
    <p class="center">Dia6
    <button ion-button icon-only clear item-right (click)="irpagina('/dia5')">
      <ion-icon name='caret-back-outline' icon-start></ion-icon></button> 
    <button ion-button icon-only clear item-right (click)="irpagina('/dia7')">
      <ion-icon name='caret-forward-outline' icon-start></ion-icon></button>
    </p>
    
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card>
    <img src="assets/img/d5.jpg"/>
    <div class="card-title">06-Enero-2021</div>
    <div class="card-subtitle">Miercoles <br>6.	Recolección de papel</div>
    <div class="card-subtitle"> </div>
  </ion-card>

  <ion-slides pager>
    <ion-slide>
      <img src="assets/img/papeleria-papeles-apilados.png" class="slide-image"/>
      <h2 class="slide-title">Recolección de papel</h2>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/casa.png" class="slide-image"/>
      <h2 class="slide-title">1-	Recolecta el papel que se produzca en casa</h2>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/abrir-caja.png" class="slide-image"/>
      <h2 class="slide-title">2-	Almacena en un recipiente de tu preferencia  </h2>
    </ion-slide>
  </ion-slides>

  <ion-button color="secondary" (click)="showToast()"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
</ion-content>


