<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <img src="assets/icon/1.png"/>

    <ion-card-content>
      <ion-card-title>
        CalenDiario
      </ion-card-title>
      <p>
       Somos una aplicacion en la cual buscamos insentivar al cuidado del medio 
       ambiente, mediante una serie de actividades y retos diarios 
       donde los usuarios tengan una guia dinamica.
      </p>
    </ion-card-content>

    <ion-card class="adv-map">
      <div style="position: relative">
        <img src="assets/img/advance-card-map-paris.png" >
        <ion-fab right top>
          <button ion-fab color="secondary">
            <ion-icon name="pin"></ion-icon>
          </button>
        </ion-fab>
      </div>
      <ion-item>
        <ion-icon color="subtle" large item-start name='information-circle'></ion-icon>
        <h2>Planta recicladora de Papel</h2>
        <p>Cto licenciados 151, Alfredo Vazquez Bonfil, 38010 Celaya, Gto./p>
      </ion-item>
      <ion-item>
        <ion-icon color="subtle" large item-start name='leaf'></ion-icon>
        <h2>Paper Waste Recycling Mexico S.A de C.V., Reciclaje de Clase Mundial</h2>
        <p>Ote 3, Emiliano Zapata, 38030 Celaya, Gto.</p>
      </ion-item>
    </ion-card>
    

    

  </ion-card>

</ion-content>
